<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281478719554-nehng023g94n04cm4u7b8dea793tg663.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281478719554-nehng023g94n04cm4u7b8dea793tg663</string>
	<key>API_KEY</key>
	<string>AIzaSyCFCYRGNbQ08P0RROWGzTifg3b2XyF8Wgo</string>
	<key>GCM_SENDER_ID</key>
	<string>281478719554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lesson1</string>
	<key>PROJECT_ID</key>
	<string>smart-lady</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-lady.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281478719554:ios:77fcba2ae675f0193965db</string>
</dict>
</plist>